<a href="https://colab.research.google.com/github/luizchirutti/ANDROID/blob/master/SUBCONJUNTOS_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Nome: Luiz Chirutti
#Ra:821239633

SUB CONJUNTOS EM R

In [ ]:
#Considere o vetor x abaixo para resolver os exercícios de 1 a 5.
#x <- -5:10; x
#1. Selecione os 5 primeiros elementos do vetor.
x<- -5:10; x
x[0:5]
#2. Selecione os 10 últimos elementos do vetor. Dica: use c() para criar a sequência e números
#negativos para excluir os primeiros 5 elementos.
a<-c(x[6:15]);a
#3. Selecione os elementos maiores que zero.
b<-x[x>0];b
#4. Selecione os elementos pares
c <- x %% 2;c
d <- (c==0);d
pares <- x[d];pares
#5. Selecione os elementos ímpares maiores que zero
e <- (c == 1 & x > 0);e
impares = x[e]; impares

#Considere a matriz m abaixo para resolver os exercícios de 6 a 10
m <- -10:9;m
dim(m) <- c(4,5);m
#6. Selecione os elementos maiores ou iguais a 0
f = m[m>=0];f
#7. Selecione os números pares menores que zero e os ímpares maiores que zero
g <- (m%%2==0 & m<0);g
h <- ( m%%2==1 &m>0);h
i <- m[g]; i
j <- m[h]; j
k <- c(i,j);k
#8. Selecione os elementos da primeira coluna
l <- m[,1];l
#9. Selecione os dois últimos elementos das duas primeiras linhas e os dois primeiros
#elementos das duas últimas linhas e crie uma matriz 4 X 2 com eles.
n <- m[1:2,4:5];n
p <- m[3:4,1:2];p
c(m[1:2,4:5],m[3:4,1:2])
matrix(nrow = 4,ncol =2,data = c(m[1:2,4:5],m[3:4,1:2]))
#10. Os números maiores que zero da primeira e da terceira linhas de m.
s <- m[1,];s
t <- s[s>0];t #primeira linha
u <- m[3,];u
v <- u[u>0];v #terceira linha
#O R traz consigo uma série de datasets pré carregados para usarmos nos nossos exercícios.
#Iremos criar um data frame usando o dataset Titanic. Considere-o para os exercícios de 11 a
#13.
#?Titanc #execute esta linha para ter mais informações do
#dataset
#titan <- data.frame(Titanic);titan
#11. Liste apenas as linhas da primeira classe (Class igual a 1st)
t1 <- titan[titan$Class=='1st',];t1
#12. Liste o sexo, a classe e a frequência das crianças que sobreviveram
t2 <- titan[titan$Age=="Child",];t2
t3 <- t2[t2$Survived=="Yes",];t3 #t3 = criancas que sobreviveram
#13. Selecione todas as frequências de registros masculinos e guarde e um vetor; selecione as
#frequências femininas e guarde em outro vetor; some os dois vetores e guarde em um outro
#vetor chamado total.
homens <- titan[titan$Sex == "Male",];homens
hom <- c(titan[titan$Sex=="Male",]); hom
vhom <-c(hom$Freq);vhom #Vetor de frequencia masculino
mulheres <- titan[titan$Sex== "Female",];mulheres
mul <- c(titan[titan$Sex=="Female",]);mul
vmul<- c(mul$Freq);vmul #vetor de frequencia feminino
vtotal <- c(vhom,vmul); vtotal #Vetor total

#14. O dataset euro é um vetor nomeado com as cotações do euro (desatualizadas) para
#diversas moedas de países da união europeia. Use este vetor para fazer as seguintes
#conversões.
#?euro #execute para ver a documentação
#a. 100 pesetas espanholas (ESP) para euros.
pesetas <- 100/euro["ESP"];pesetas
#b. 100 euros para liras italianas (ITL).
liras <- 100*euro["ITL"];liras
#c. 100 escudos portugueses (PTE) para francos belgas (BEF).
PorBel <- 100*euro.cross["PTE","BEF"];PorBel

#15. No pacote ISwR, do curso de Estatística Introdutória em R do professor Peter Dalgaard da
#Copenhagen Business School há uma série de datasets interessantes para aprender R. Um
#deles traz dados sobre ocorrências de AVCs em Tartu, na Estônia, de 1991 a 1993. Instale
#este pacote, carregue a library e carregue o dataset stroke. A sequência de comandos está
#abaixo. Depois, liste todas as linhas de mortes de pacientes no ano de 1992. Remova as linhas
#que contém NA. Use a função especial para isso, is.na.POSIXlt. A is.na não funciona
#para datas.
#install.packages('ISwR')
#library(ISwR)
#data(stroke, package="ISwR")
#?stroke
install.packages('ISwR')
library(ISwR)
data(stroke, package="ISwR")
stroke <- data.frame(stroke);stroke
d1992 <- stroke[stroke$died == 1992,]; d1992